pkgbase = larp.exe
	pkgdesc = Hacker-style terminal desktop for Hyprland: fastfetch, pipes, cmatrix and cava in a 2x2 grid, with music
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/YajatGhule/larp
	arch = any
	license = MIT
	depends = bash
	depends = kitty
	depends = hypr-layout
	depends = fastfetch
	depends = pipes.sh
	depends = cmatrix
	depends = cava
	depends = wireplumber
	depends = libpulse
	optdepends = mpv: play music while larp runs
	optdepends = fish: larp-ws workspace launcher
	optdepends = jq: larp-ws workspace launcher
	optdepends = wtype: larp-ws workspace launcher
	conflicts = larp
	source = larp.exe-1.0.1.tar.gz::https://github.com/YajatGhule/larp/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = 1d3f5c72c7f5ac476dadad6d05a5f26f93f6ffba9befe1ac32401dd084e703a8

pkgname = larp.exe
